* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
    background-color: darkcyan;
}

#content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}
#calculette{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 55rem;
    border: black solid;
    padding-bottom: 2rem;
    border-radius: 18px;
    background-color:aliceblue;
}

#ecran{
    border: black solid;
    border-radius: 15px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    height: 20rem;
    width: 45rem;
    background-color: azure;
}
#screen{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height:19.5rem;
}

button{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 35px;
    height: 7rem;
    width: 10rem;
    background-color: aqua;
    border: black solid;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 5rem;
}

#button{
    padding: 2rem;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

