* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body{
    display: flex;
    justify-content: center;
}

#button{
    display: flex;
    justify-content: space-between;
    justify-items:center;
    height: 0.5rem;
    width: 5rem;
}

/*#4{*/
/*    height: 5rem;*/
/*    width: 5rem;*/
/*}*/